etc/test_data
etc/PHA_report
*.parquet
*.pyc
log
run_test.py
run_job_sensitivity.bash
*.png
*.pkl
etc/submit/slurm
etc/submit/slurm/data_downsizer/slurm_jobs/cmdlist.txt
etc/submit/slurm/data_downsizer/slurm_jobs/jobarray.sl
etc/submit/slurm/data_downsizer/slurm_jobs2/cmdlist.txt
etc/submit/slurm/data_downsizer/slurm_jobs2/jobarray.sl
etc/submit/slurm/models/slurm_job/cmdlist.txt
etc/submit/slurm/models/slurm_job/jobarray.sl
etc/submit/slurm/models/slurm_job2/cmdlist.txt
etc/submit/slurm/models/slurm_job2/jobarray.sl
etc/submit/slurm/models/tmp/arrayjob.sl
etc/submit/slurm/models/tmp/slurm_commands.list
etc/submit/slurm/postprocessing/arrayjob_ens.sl
etc/submit/slurm/postprocessing/slurm_commands_ens.list
etc/submit/slurm/postprocessing/slurm_jobs/cmdlist.txt
etc/submit/slurm/postprocessing/slurm_jobs/jobarray.sl
